.grid--12 {
    display: grid;
    grid-template-columns:
        1fr [center-start] repeat(12, minmax(min-content, 7.2rem))
        [center-end] 1fr;
    column-gap: 4.8rem;

    @include respond(lap) {
        grid-template-columns:
            1fr [center-start] repeat(10, minmax(min-content, 7.2rem))
            [center-end] 1fr;
    }

    @include respond(tab) {
        grid-template-columns:
            1fr [center-start] repeat(8, minmax(min-content, 7.2rem))
            [center-end] 1fr;
    }

    @include respond(ph-l) {
        grid-template-columns:
            1fr [center-start] repeat(6, minmax(min-content, 7.2rem))
            [center-end] 1fr;
    }

    @include respond(ph) {
        grid-template-columns:
            1fr [center-start] repeat(4, minmax(min-content, 7.2rem))
            [center-end] 1fr;
    }
}
